<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hola mundo con Vue</title>
</head>
<body>

    <div id="app">

        <h1>{{titulo}}</h1>

        <ul>
            <li v-for="fruit of fruits">
                <h4>{{fruit.name}}</h4>
                <input type="number" v-model.number="fruit.weight">
                <button @click="fruit.weight++">+</button>
                <button @click="fruit.weight--">-</button>
                <br>
                <p v-if="fruit.weight === 0">No stock</p>
            </li>
        </ul>

        <input type="text" v-model="newFruit.name" placeholder="Name"><br>
        <input type="number" v-model.number="newFruit.weight" placeholder="Weight"><br>
        <input type="submit" @click="agregarFruta"><br>

        <h2>Total weight: {{sumarFrutas}}</h2>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="main.js"></script>
    
</body>
</html>